/*#region max-width*/
@media screen and (max-width: 1199.98px) {

    .completedProjects .menu-trigger {
        background: url(../media/images/completed-projects/more.svg) no-repeat right center;
        background-size: 20px;
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: 35px;
        top: 0;
        z-index: 101;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .navigation .nav li a {
        background-color: transparent !important;
        color: #fff;
        white-space: nowrap;
        font-family: "Open Sans";
        font-size: 16px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .navigation .nav.navbar {
        position: absolute;
        top: 0;
        height: 40px;
        display: block;
        opacity: 0;
        visibility: hidden;
    }

    .products .card:hover .card-img-top {
        opacity: 0;
        z-index: -1;

    }

    .aboutUs {
        margin-top: -130px;
    }

    .products .card {
        width: 23.5%;
        margin-left: 0;
    }

    .products .card:nth-of-type(2) {
        margin-right: 1%;
    }

    .products .card:nth-of-type(2) .greyTitle, .products .card:nth-of-type(2) .orangeTitle {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .smallHeader .smallHeader__title {
        padding-right: 0;
    }

    .orangeTitle {
        margin-left: -16px;
        margin-right: -16px;
        padding: 10px 46px;
    }

    .completedProjects {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .products .greyTitle {
        margin-left: -16px;
        margin-right: -16px;
    }

    .products {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .benefits--lists {
        padding: 60px 0 60px 0;
    }

    .downloads .downloads--lists__item {
        width: 124px;
        height: 124px;
        margin: 0 0 30px 0px;

    }

    .downloads {
        padding: 60px 0;
    }
}

@media screen and (max-width: 991.98px) {
    .text {
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 60px;
        background-position: center;
    }

    .container {
        max-width: none;
    }

    .leftMenu, .leftBox {
        display: none;
    }

    .smallHeader .smallHeader__title {
        padding-right: 0;
    }

    .completedProjects .content--header {
        color: #fff;
    }

    .owl-carousel .owl-nav button.owl-prev {
        right: 0;
        color: #2e2e2e !important;
        /*color: #d3d3d3 !important;*/
    }

    .owl-carousel .owl-nav button.owl-next {
        left: 0;
        color: #2e2e2e !important;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        top: 0;
        bottom: calc(0px + 37px);
        /*background: rgba(0, 0, 0, 0.6) !important;*/
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        font-size: 5rem !important;

    }

    .mainSlider .owl-carousel .owl-nav button.owl-next, .mainSlider .owl-carousel .owl-nav button.owl-prev {
        background: transparent !important;
        color: #2e2e2e !important;
    }

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-next:focus,
    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-prev:focus {
        font-size: 7.5rem !important;
        color: #d3d3d3 !important;
    }

    .benefits {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .downloads {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .news {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .footer {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 767.98px) {
    .navigation .nav {
        right: 10px !important;
        height: auto !important;
        display: inline-block !important;
        visibility: hidden;
        opacity: 0;
        border-radius: 10px;
        border: 1px solid #666;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        padding-top: 35px;
        z-index: 100;
        max-height: 50vh;
        overflow-y: auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        /*visibility: visible;*/
        /*opacity: 1;*/
    }

    .navigation .nav li {
        display: block;
        overflow: hidden;
        float: none;
    }

    .main-bar .container {
        padding-right: 0;
        padding-left: 0;
    }

    .header .subTitle {
        font-size: 21px;
        margin-right: 90px;
    }

    .smallHeader .title {
        /*margin-top: -15px !important;*/
        font-size: 57px !important;
        color: #f68b1f;
    }

    .header .upTitle {
        font-size: 18px !important;
        font-weight: bolder !important;
    }

    .completedProjects .content--text,
    .products .content--text,
    .products .content--header {
        color: #fff;
    }

    .completedProjects .nav.nav-pills,
    .products .nav.nav-pills {
        margin-bottom: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products, .products {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .products .card {
        width: 24%;
        margin-left: 0;
    }

    .downloads .downloads--lists__item {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 2rem;
    }

    .footer {
        height: auto;
    }

    .footer .formContainer {
        margin-top: 50px;
        margin-right: auto;
    }

    .footer .addressContainer > ul {
        width: 100% !important;
        margin-bottom: 4rem;
    }

    .footer .designedBy {
        text-align: left;
    }
}

@media screen and (max-width: 575.98px) {

    .mb-50 {
        margin-bottom: 50px;
    }

    .faq--item h5 {
        margin-bottom: 20px;
    }

    .header .smallHeader {
        top: 25px;
    }

    .mainSlider--item img {
        min-height: 250px;
    }

    .aboutUs {
        padding: 80px 0 50px;
    }

    .addressContainer .social {
        position: static;
    }

    .benefits {
        padding: 60px 0;
    }

    .orangeTitle {
        margin-left: -1px;
        margin-right: -1px;
    }

    .lastItem {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .products .greyTitle {
        margin-left: -1px;
        margin-right: -1px;
        margin-top: 106px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .benefits--lists {
        padding: 0;
    }

    .benefits--lists:first-child {
        padding-top: 1rem;
    }

    .benefits--lists:last-child {
        padding-bottom: 1rem;
    }

    .aboutUs--bgLogo {
        height: auto;
        right: 0;
        top: auto;
    }

    .products .card:first-child {
        display: none;
    }

    .products .card {
        width: 49%;
        margin-bottom: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .sliderSection {
        padding-bottom: 2rem;
        height: auto;
    }

    .tr-btn-info a {
        width: 50%;
    }

    .footer .formContainer {
        padding: 15px;
    }

    .footer .phoneNumbers {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 399.98px) {
    .products .card {
        width: 100%;
        margin-bottom: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
}

/*#endregion*/
/*#region min-width*/
@media screen and (min-width: 1200px) {
    .header .smallHeader .title {
        line-height: 75px;
    }
    .orangeTitle {
        margin-left: -16px !important;
        margin-right: -16px !important;
        padding: 10px 46px !important;
    }
}

@media screen and (min-width: 992px) {
    .top-courses .site-button:not(:first-child) {
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/*#endregion*/
