/*#region max-width*/

@media screen and (max-width: 1199.98px) {

    .products .card {
        width: 24%;
        margin-left: 5px;
    }

    .products .greyTitle {
        margin-left: -13px;
        margin-right: -13px;
        margin-top: 40px;
    }

    .orangeTitle {
        margin-left: -13px;
        margin-right: -13px;
        padding: 10px 46px;
    }

    .menu-trigger {
        background: url(../media/images/completed-projects/more.svg) no-repeat right center;
        background-size: 20px;
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: 15px;
        top: 0;
        z-index: 101;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .navigation .nav li a {
        background-color: transparent !important;
        color: #fff;
        white-space: nowrap;
        font-family: "Open Sans";
        font-size: 16px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .navigation .nav.navbar {
        position: absolute;
        top: 0;
        height: 40px;
        display: block;
        opacity: 0;
        visibility: hidden;
    }

    .navigation .nav {
        left: 15px !important;
        height: auto !important;
        display: inline-block !important;
        visibility: hidden;
        opacity: 0;
        border-radius: 10px;
        border: 1px solid #666;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 15px;
        padding-top: 35px;
        z-index: 100;
        max-height: 50vh;
        overflow-y: auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        /*visibility: visible;*/
        /*opacity: 1;*/
    }

    .navigation .nav li {
        display: block;
        overflow: hidden;
        float: none;
    }

    .products .card:hover .card-img-top {
        opacity: 0;
        z-index: -1;

    }

    /*.products .card:nth-of-type(2) {*/
    /*margin-right: 1%;*/
    /*}*/
    .products .card:nth-of-type(2) .greyTitle, .products .card:nth-of-type(2) .orangeTitle {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .smallHeader .smallHeader__title {
        padding-right: 0;
    }

    /*.completedProjects {*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
    /*.products {*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
    .benefits--lists {
        padding: 60px 0 60px 0;
    }

    .downloads .downloads--lists__item {
        width: 124px;
        height: 124px;
        margin: 0 0 30px 0px;

    }

    .downloads {
        padding: 60px 0;
    }
}

@media screen and (max-width: 991.98px) {

    .pt-md-50 {
        padding-top: 50px;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-brand img {
        margin-left: 8px;
    }

    /*margin: 0;*/
    /*font-size: 21px;*/
    /*line-height: 15px;*/
    /*color: #fff;*/
    .header .header-nav .navUpTitle {
        margin: 0;
        color: #fff;
        font-size: 10px;
        line-height: 15px;
    }

    .header .header-nav .navTitle {
        margin: 0;
        font-size: 21px;
        line-height: 15px;
        color: #f68b1f;
    }

    .header .smallHeader {
        /*top: 65px;*/
        top: 125px;
        display: none;
    }

    .news .menu-trigger {
        opacity: 0.5;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .pb-150 {
        padding-bottom: 150px;
    }

    .completedProjectsPage .sectionDescription, .completedProjectsPage .sectionTitle {
        color: #fff;
    }

    .news .cardOuter {
        background: #f68b1f;
        margin-bottom: 15px;
    }

    .news .card a, .news .card a {
        opacity: 1;
        z-index: 1;
    }

    .products .card {
        border: none;
        padding-top: 0;
        overflow: hidden;

        width: 24.7%;
        margin-left: 0;
    }

    .bg-grey-c {
        background: transparent;
    }

    .completedProjects .content--text,
    .products .content--text,
    .products .content--header {
        color: #fff;
    }

    .products .card-body ul li:nth-child(odd) > div {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px;
        align-items: center;
    }

    .sectionTitle {
        font-size: 30px;
    }

    .aboutUs {
        background: #f68b1f !important;
    }

    .completedProjects {
        background: #333333 !important;
    }

    .products {
        background: #a2a29e !important;
    }

    .benefits {
        background: #f68b1f !important;
    }

    .downloads {
        background: #282828 !important;
    }

    .news {
        background: #e3e5e2 !important;
    }

    .faq::before {
        right: calc(50% - 30%);
    }

    .faq {
        height: auto;
        padding: 60px 0;
    }

    .contactUsPage .formContainer {
        margin-top: 0;
        margin-right: -16px;
        margin-left: -16px;
        padding: 1rem;
        background: #f68e24;
    }

    .text {
        /*-webkit-background-size: cover;*/
        /*background-size: cover;*/
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .text ul li {
        line-height: 21px;
        margin-bottom: 10px;
    }

    .text ul li::before {
        line-height: 0px;
    }

    .container {
        max-width: none;
    }

    .leftMenu, .leftBox {
        display: none;
    }

    .smallHeader .smallHeader__title {
        padding-right: 0;
    }

    .completedProjects .content--header {
        color: #fff;
    }

    .owl-carousel .owl-nav button.owl-prev {
        right: 0;
        color: #2e2e2e !important;
        /*color: #d3d3d3 !important;*/
    }

    .owl-carousel .owl-nav button.owl-next {
        left: 0;
        color: #2e2e2e !important;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        top: 0;
        bottom: calc(0px + 37px);
        /*background: rgba(0, 0, 0, 0.6) !important;*/
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        font-size: 5rem !important;

    }

    .mainSlider .owl-carousel .owl-nav button.owl-next, .mainSlider .owl-carousel .owl-nav button.owl-prev {
        background: transparent !important;
        color: #2e2e2e !important;
    }

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-next:focus,
    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-prev:focus {
        /*font-size: 7.5rem !important;*/
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        color: #d3d3d3 !important;
    }

    /*.benefits {*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
    /*.downloads {*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
    /*.news {*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
    .footer {
        padding: 0;
        padding-bottom: 1rem;
    }

    .footer .copyRight {
        margin-top: 20px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .footer .social__item {
        font-size: 23px;
    }

    .products .greyTitle {
        margin-left: -1px;
        margin-right: -1px;
        margin-top: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 30px 30px 10px;
        color: #6f6f6f;
    }

}

@media screen and (max-width: 767.98px) {

    .downloads {
        padding: 60px 0 0;
    }

    .addressContainer .social {
        margin-right: 0;
        padding-left: 0;
        position: absolute;
    }

    .orangeTitle {
        margin-left: -1px;
        margin-right: -1px;
        padding: 20px 46px;
    }

    .lastItem {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

    }

    .products .card:nth-of-type(2) .greyTitle, .products .card:nth-of-type(2) .orangeTitle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main-bar .container {
        padding-right: 0;
        padding-left: 0;
    }

    .header .subTitle {
        font-size: 21px;
        margin-right: 90px;
    }

    .smallHeader .title {
        /*margin-top: -15px !important;*/
        font-size: 45px !important;
        color: #f68b1f;
        padding: 0 !important;
    }

    .header .upTitle {
        font-size: 18px !important;
        font-weight: bolder !important;
    }

    .completedProjects .nav.nav-pills,
    .products .nav.nav-pills {
        margin-bottom: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*.products, .completedProjects {*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*}*/
    .products .card {
        width: 49%;
        margin-left: 1%;
        margin-bottom: 2%;
    }

    .products .card:nth-child(odd) {
        margin-left: 0;
    }

    .downloads .downloads--lists__item {
        width: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .footer .formContainer {
        margin-top: 0;
        margin-right: auto;
    }

    .footer .addressContainer > ul {
        width: 100% !important;
        margin-bottom: 4rem;
    }

    .footer .designedBy {
        text-align: left;
    }

    .benefits--lists {
        padding: 0;
    }

    .benefits--lists:first-child {
        padding-top: 1rem;
    }

    .benefits--lists:last-child {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 575.98px) {
    .plyr audio, .plyr video {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .smallHeader .smallHeader__logo {
        display: none !important;
    }

    .header.subPage .smallHeader__logo {
        display: none !important;
    }

    .header .subTitle {
        margin: auto;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .faq--item h5 {
        margin-bottom: 20px;
    }

    .mainSlider--item img {
        min-height: 250px;
    }

    .addressContainer .social {
        position: static;
    }

    .benefits {
        padding: 60px 0;
    }

    .aboutUs--bgLogo {
        height: auto;
        right: 0;
        top: auto;
    }

    .products .card:first-child {
        display: none;
    }

    .products .card {
        width: 100%;
        margin-bottom: 1rem;
        margin-right: auto;
        margin-left: auto;
    }

    .sliderSection {
        padding-bottom: 2rem;
        height: auto;
    }

    .tr-btn-info a {
        width: 50%;
    }

    .footer .formContainer {
        padding: 15px;
        padding-top: 60px;
    }

    .footer .phoneNumbers {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 399.98px) {

}

/*#endregion*/
/*#region min-width*/
@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1400px) {
    .products .card:first-child .orangeTitle {
        margin-bottom: 70px;
    }

    /*.products .card:first-child .greyTitle {*/
    /*margin-bottom:1px;*/
    /*}*/
}

@media screen and (min-width: 1200px) {
    section {
        min-height: 100vh;
        align-items: center;
        display: flex;
        /*justify-content: center;*/
    }

    .orangeTitle {
        margin-left: -16px !important;
        margin-right: -16px !important;
        padding: 15px 46px !important;
    }

    .products .card:last-child .orangeTitle {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .products .card:last-child .greyTitle {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .products .greyTitle {
        /*margin-top: 40px;*/
        margin-top: 80px;
    }

}

@media screen and (min-width: 992px) {

    .relatedProjects .container {
        padding-right: 40px;
    }

    .contactUsPage .addressContainer {
        padding: 50px 0 10px 0;
    }
}

@media screen and (min-width: 768px) {
    .px-30 {
        padding-right: 30px;
        padding-left: 30px;
    }

    .header .smallHeader .title {
        line-height: 75px;
    }
}

@media screen and (min-width: 576px) {

}

/*#endregion*/

/*#region min-width and max-width*/

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .completedProjects, .completedProjectsPage {
        background-position: -500px top !important;
        /*background-position: center !important;*/
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .footer .formContainer {
        padding: 46px 50px 53px 35px;
    }
}

/*#endregion*/

.orangeRelativeTitles {
    position: absolute;
    top: 20px;
    right: -100px;
    font-size: 15px;
    padding: 8.3px 15px !important;
    height: 61px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 120px;
}

.greyRelativeTitles {
    position: absolute;
    text-align: left;
    top: 0;
    right: -80px;
    padding: 10px 20px !important;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 120px;
    margin-top: 0 !important;
}


