/*#region max-width*/
@media screen and (max-width: 1199.98px) {

    .smallHeader .smallHeader__title {
        padding-right: 0;
    }

    .orangeTitle {
        margin-left: -16px;
        margin-right: -16px;
        padding: 10px 46px;
    }

    .completedProjects {
        -webkit-background-size: auto;
        background-size: auto;
    }

    .products .greyTitle {
        margin-left: -16px;
        margin-right: -16px;
    }

    .products {
        -webkit-background-size: auto;
        background-size: auto;
    }

    .benefits--lists {
        padding: 60px 0 60px 0;
    }

    .downloads .downloads--lists__item {
        width: 124px;
        height: 124px;
        margin: 0 0 30px 0px;

    }

    .downloads {
        padding: 60px 0;
    }
}

@media screen and (max-width: 991.98px) {
    .container {
        max-width: none;
    }

    .leftMenu, .leftBox {
        display: none;
    }

    .smallHeader .smallHeader__title {
        padding-right: 0;
    }

    .completedProjects .content--header {
        color: #fff;
    }

    .owl-carousel .owl-nav button.owl-prev {
        right: 0;
        color: #2e2e2e !important;
        /*color: #d3d3d3 !important;*/
    }

    .owl-carousel .owl-nav button.owl-next {
        left: 0;
        color: #2e2e2e !important;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        top: 0;
        bottom: calc(0px + 37px);
        /*background: rgba(0, 0, 0, 0.6) !important;*/
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        font-size: 5rem !important;

    }

    .landing .owl-carousel .owl-nav button.owl-next, .landing .owl-carousel .owl-nav button.owl-prev {
        background: transparent !important;
        color: #2e2e2e !important;
    }

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-next:focus,
    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-prev:focus {
        font-size: 7.5rem !important;
        color: #d3d3d3 !important;
    }

    .benefits {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .downloads {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .news {
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media screen and (max-width: 767.98px) {

    .completedProjects .content--text,
    .products .content--text,
    .products .content--header {
        color: #fff;
    }

    .completedProjects .nav.nav-pills,
    .products .nav.nav-pills {
        margin-bottom: 2rem;
    }

    .products {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .downloads .downloads--lists__item {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 2rem;
    }

    .footer {
        height: auto;
    }

    .footer .formContainer {
        margin-top: 50px;
        margin-right: auto;
    }

    .footer .addressContainer > ul {
        width: 100%;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 575.98px) {
    .sliderSection {
        padding-bottom: 2rem;
        height: auto;
    }

    .tr-btn-info a {
        width: 50%;
    }
}

@media screen and (max-width: 399.98px) {

}

/*#endregion*/
/*#region min-width*/
@media screen and (min-width: 1200px) {
    .orangeTitle {
        margin-left: -16px!important;
        margin-right: -16px!important;
        padding: 10px 46px!important;
    }
}

@media screen and (min-width: 992px) {
    .top-courses .site-button:not(:first-child) {
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/*#endregion*/
